body{
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:rgb(46, 54, 51);
    background-size: 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    background-image: url("bgimage.jpg");
    }

    .head-items .logo{
    display: flex;
    align-items: center;
    padding-left: 10px;
    }
    .head-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    }
    
    nav li{
    display: inline;
    margin-right: 10px;
    color:#f10303;
    }
    a{
    text-decoration: none;
    color: #ffb109  ;
    }
    a:hover{
        color: #EF4040;
    }
    section{
    flex:1;
    }
    footer{
    text-align: center;
    background-color:rgba(0,0,0,.9) ;
    color: #fff;
    }
    
    .calculator{
    width:300px;
    height: 360px;
    border-radius: 15px;
    border: 2px solid black ;
    text-align: center;
    margin: 60px auto;
    box-shadow: 15px 10px 15px rgb(14, 13, 13);
    background-color: rgba(1, 0, 1, 0.8) ;
    }
    
    input{
    width: 50px;
    height: 40px;
    font-size: 20px; 
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    background-color: #F7E987; 
    border: none;
    }
    
    input:hover{
    background-color: rgba(206, 189, 189, 0.932);
    box-shadow: 2px 2px 10px rgb(111, 120, 136);
    }
    
    #display{
    height:30px;
    width:230px;
    border: 1px solid black;
    margin: 15px auto;
    border-radius: 1px;

    }
    #display:hover{
    border: 2px solid rgb(6, 4, 8) ;
    box-shadow: 4px 4px 10px black;
    }
    
    #display{
        background-color: rgb(234, 235, 223);
        border-radius: 5px;
        text-align: left;
        padding-left: 8px;
        
        }
    #clear{
        background-color: #EF4040;
    }
    #evaluate{
        background-color: orangered;
    }